
main {
  grid-area: m;
  padding: 5%;
  background: url(../img/ph.jpg);
  background-repeat: round;
}


main img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  opacity: 0.8;
  transition: 1s;
}

@media (min-width:768px) {
  main img:hover {
    height: 500px;
    width: 500px;
    opacity: 1;
  }
}

@media (max-width:650px) {
  header .headBtn{
    display: none;
  }
  header .hideElem{
    display: revert;
  }
  header .search{
    height: 15px;
  }
  
}

