.container {
  grid-area: m;
  background-color: black;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 10px auto;
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 400px;
  background: #fff;
  /* transform-style: preserve-3d; */
  /* transform: perspective(2000px); */
  transition: 1s;
  /* box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

/* for rotating -10deg */
.card:hover {
  z-index: 1000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

/* transform-origin: left; mijocov texasharjum enq aj ankyunic, z-indexn vor tapancik chdarna */
.card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  /* box-sizing: border-box; */
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}
/* for opening card */
.card:hover .imgBox {
  transform: rotateY(-135deg);
}
/* chapsern kargavorelu hamar, object-fit: cover mijocov parzecnum enq nkarnern  */
.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* textern boxeri nersum mna  */
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
}
