main {
  grid-area: m;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  background-color: #000;
}
main .game {
  margin: 20px auto;
  padding: 10px;
  border: 2px solid rgb(61, 60, 60);
  cursor: pointer;
  transition: all 0.5s 0s ease-out;
  transition: 0.5s;
}
main .game img {
  transition: 0.5s;
}
main .game a {
  text-decoration: none;
  color: #fff;
}
main .game:hover {
  box-shadow: 0 0 20px 20px #fff;
}
@media (max-width: 1440px) {
  main {
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }
}
@media (max-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media (max-width: 650px) {
  .game img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 400px) {
  .game img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 350px) {
  .game img {
    width: 180px;
    height: 180px;
  }
}
