.forMain {
  height: 90vh;
  grid-area: m;
  background-image: url(img/fire.jpg);
  background-size: cover;
  background-repeat: round;
}
.forMain .forB {
  margin: 50px 0 0 30px;
}
.forMain .forB .spn {
  margin: 0 0 0 130px;
}
.forMain .forB p {
  font-family: "Mate SC", serif;
  font-size: 40px;
  color: rgb(175, 169, 169);
}
.forMain .forB p .span1 {
  font-family: "ZCOOL KuaiLe", cursive;
  color: red;
  margin: 0 0 0 230px;
}
.forMain .read {
  cursor: pointer;
  margin: 16% 0 0 80%;
}
.forMain .read strong {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s;
}
.forMain .read strong a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.forMain .read strong:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #fff, 0 0 0 15px #fff, 0 0 0 20px #fff;
  opacity: 0.7;
}
.forMain .read strong:hover a {
  color: #000;
}

@media (max-width: 1024px) {
  .forMain .read strong {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
  }
  .forMain .read strong a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .forMain .read strong {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s;
  }
  .forMain .read strong a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }
  .forMain .forB {
    margin: 50px 0 0 30px;
  }
  .forMain .forB .spn {
    margin: 0 0 0 100px;
  }
  .forMain .forB p {
    font-size: 25px;
    color: rgb(175, 169, 169);
  }
  .forMain .forB p .span1 {
    margin: 0 0 0 150px;
  }
}
@media (max-width: 650px) {
  .forMain {
    background-image: url(img/small.jpg);
  }
  .forMain .forB {
    margin: 50px 0 0 30px;
  }
  .forMain .forB .spn {
    margin: 0 0 0 80px;
  }
  .forMain .forB p {
    font-family: "Mate SC", serif;
    font-size: 25px;
    color: rgb(175, 169, 169);
  }
  .forMain .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 0 0 0 130px;
  }
  .forMain .read {
    margin: 0 auto;
  }
  .forMain .read strong {
    padding: 5px;
  }
  .forMain .read strong a {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .forMain .forB {
    margin: 10px 0 0 0;
  }
  .forMain .forB .spn {
    margin: 10px 0 0 10px;
  }
  .forMain .forB p {
    font-family: "Mate SC", serif;
    font-size: 16px;
    color: rgb(175, 169, 169);
  }
  .forMain .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 10px 0 0 20px;
  }
  .forMain .read {
    margin: 50% 0 0 0;
  }
  .forMain .read strong {
    padding: 5px;
  }
  .forMain .read strong a {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .forMain .forB {
    margin: 10px 0 0 0;
  }
  .forMain .forB .spn {
    margin: 10px 0 0 10px;
  }
  .forMain .forB p {
    font-family: "Mate SC", serif;
    font-size: 16px;
    color: rgb(175, 169, 169);
  }
  .forMain .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 10px 0 0 20px;
  }
  .forMain .read {
    margin: 50% 0 0 0;
  }
  .forMain .read strong {
    padding: 5px;
  }
  .forMain .read strong a {
    font-size: 15px;
  }
}
