@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=Mate+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "h h"
    "n m";
  grid-template-rows: 65px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

header {
  grid-area: h;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  cursor: pointer;
}
header .headBtn {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s;
}

header .headBtn b a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}
header .search {
  display: grid;
  grid-template-columns: 93% 7%;
}
header .search input {
  height: 25px;
  border-radius: 5px;
}
header .search img {
  margin-top: 5px;
  cursor: pointer;
}
header .headBtn:hover {
  background-color: white;
}
header .headBtn:hover b a {
  color: black;
}
header .hideElem {
  display: none;
}
nav {
  grid-area: n;
  background-color: black;
  min-height: 90vh;
}

nav .navBtn {
  margin-top: 15px;
  padding: 3px 0 0 10px;
  cursor: pointer;
}
nav .navBtn b a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
nav .navBtn:hover {
  background-color: white;
  transition: 0.5s;
}
nav .navBtn:hover b a {
  color: black;
  transition: 0.5s;
}

.main1 {
  height: 90vh;
  grid-area: m;
  background-image: url(img/fire.jpg);
  background-size: cover;
  background-repeat: round;
}
.main1 .forB {
  margin: 50px 0 0 30px;
}
.main1 .forB .spn {
  margin: 0 0 0 130px;
}
.main1 .forB p {
  font-family: "Mate SC", serif;
  font-size: 40px;
  color: rgb(175, 169, 169);
}
.main1 .forB p .span1 {
  font-family: "ZCOOL KuaiLe", cursive;
  color: red;
  margin: 0 0 0 230px;
}
.main1 .read {
  cursor: pointer;
  margin: 16% 0 0 80%;
}
.main1 .read strong {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;
  transition: 0.5s;
}
.main1 .read strong a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.main1 .read strong:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #fff, 0 0 0 15px #fff, 0 0 0 20px #fff;
  opacity: 0.7;
}
.main1 .read strong:hover a {
  color: #000;
}

@media (max-width: 1024px) {
  .main1 .read strong {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
  }
  .main1 .read strong a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .main1 .read strong {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s;
  }
  .main1 .read strong a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }
  .main1 .forB {
    margin: 50px 0 0 30px;
  }
  .main1 .forB .spn {
    margin: 0 0 0 100px;
  }
  .main1 .forB p {
    font-size: 25px;
    color: rgb(175, 169, 169);
  }
  .main1 .forB p .span1 {
    margin: 0 0 0 150px;
  }
}
@media (max-width:650px) {
  header .headBtn{
    display: none;
  }
  header .hideElem{
    display: revert;
  }
  header .search{
    height: 15px;
  }
  .main1 .forB {
    margin: 50px 0 0 30px;
  }
  .main1 .forB .spn {
    margin: 0 0 0 80px;
  }
  .main1 .forB p {
    font-family: "Mate SC", serif;
    font-size: 25px;
    color: rgb(175, 169, 169);
  }
  .main1 .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 0 0 0 130px;
  }
  .main1 .read {
    margin: 0 auto;
  }
  .main1 .read strong {    
    padding: 5px;
  }
  .main1 .read strong a {
    font-size: 15px;    
  }  
}

@media (max-width:400px) {
  header .headBtn{
    display: none;
  }
  header .hideElem{
    display: revert;
  }
  header .search{
    height: 12px;
  }
  .main1 .forB {
    margin:10px 0 0 0;
  }
  .main1 .forB .spn {
    margin: 10px 0 0 10px;
  }
  .main1 .forB p {
    font-family: "Mate SC", serif;
    font-size: 16px;
    color: rgb(175, 169, 169);
  }
  .main1 .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 10px 0 0 20px;
  }
  .main1 .read {
    margin: 50% 0 0 0 ;
  }
  .main1 .read strong {    
    padding: 5px;
  }
  .main1 .read strong a {
    font-size: 15px;    
  }  
}

@media (max-width:350px) {
  header .headBtn{
    display: none;
  }
  header .hideElem{
    display: revert;
    width: 25px;
  }
  header .search input{
    display: none;
  }
  .main1 .forB {
    margin:10px 0 0 0;
  }
  .main1 .forB .spn {
    margin: 10px 0 0 10px;
  }
  .main1 .forB p {
    font-family: "Mate SC", serif;
    font-size: 16px;
    color: rgb(175, 169, 169);
  }
  .main1 .forB p .span1 {
    font-family: "ZCOOL KuaiLe", cursive;
    color: red;
    margin: 10px 0 0 20px;
  }
  .main1 .read {
    margin: 50% 0 0 0 ;
  }
  .main1 .read strong {    
    padding: 5px;
  }
  .main1 .read strong a {
    font-size: 15px;    
  }
  header .logo a img{
    width: 50px;
  }  
}