@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=Mate+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "h h"
    "n m";
  grid-template-rows: 65px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

header {
  grid-area: h;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  cursor: pointer;
}
header .headBtn {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

header .headBtn b a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
header .search {
  display: grid;
  grid-template-columns: 93% 7%;
}
header .search input {
  height: 25px;
  border-radius: 5px;
}
header .search img {
  margin-top: 5px;
  cursor: pointer;
}
header .headBtn:hover {
  background-color: white;
  transition: 0.5s;
}
header .headBtn:hover b a {
  color: black;
  transition: 0.5s;
}
nav {
  grid-area: n;
  background-color: black;
  min-height: 90vh;
  display: table;
}

nav .navBtn {
  margin-top: 15px;
  padding: 3px 0 0 10px;
  cursor: pointer;
}
nav .navBtn b a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
nav .navBtn:hover {
  background-color: white;
  transition: 0.5s;
}
nav .navBtn:hover b a {
  color: black;
  transition: 0.5s;
}
main {
  grid-area: m;
  color: #fff;
  background-color: black;
  background: url(../img/phone.jpg);
  background-repeat: round;
  padding: 3% 0 0 3%;
}
main .inp {
  min-width: 300px;
  min-height: 50px;
  border-radius: 10px;
}
main label b {
  font-size: 18px;
}
main textarea {
  border-radius: 10px;
  
}
main button {
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
  border-radius: 10px;
}
main button:hover {
  opacity: 0.7;
}
