@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=Mate+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "h h"
    "n m";
  grid-template-rows: 65px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

header {
  grid-area: h;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  cursor: pointer;
}
header .headBtn {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

header .headBtn b a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
header .search {
  display: grid;
  grid-template-columns: 93% 7%;
}
header .search input {
  height: 25px;
  border-radius: 5px;
}
header .search img {
  margin-top: 5px;
  cursor: pointer;
}
header .headBtn:hover {
  background-color: white;
  transition: 0.5s;
}
header .headBtn:hover b a {
  color: black;
  transition: 0.5s;
}
header .hideElem {
  display: none;
}
nav {
  grid-area: n;
  background-color: black;
  min-height: 90vh;
}

nav .navBtn {
  margin-top: 15px;
  padding: 3px 0 0 10px;
  cursor: pointer;
}
nav .navBtn b a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
nav .navBtn:hover {
  background-color: white;
  transition: 0.5s;
}
nav .navBtn:hover b a {
  color: black;
  transition: 0.5s;
}
main {
  grid-area: m;
  color: #fff;
  background-color: black;
}
main .valh{
  margin: 3%;
  display: flex;
  justify-content: center;
}
main .valh img{
  max-width: 1250px;
}
main h1,
main h2 {
  margin: 3% 0 3%;
  display: flex;
  justify-content: center;
}
main p {
  font-size: 18px;
  margin: 3% 1% 3%;
}
@media (max-width:1440px) {
  main .valh img{
    max-width: 800px;
  }
}
@media (max-width:1024px) {
  main .valh img{
    max-width: 700px;
  }
}
@media (max-width:768px) {
  main .valh img{
    max-width: 600px;
  }
}
