
main {
  grid-area: m;
  background: black;
  display: grid;
  grid-template-columns: 6fr 6fr;
}
main .song {
  margin: 5% 5% 5% 2%;
}
main .song h3 {
  color: blanchedalmond;
  display: flex;
}
@media (max-width: 1440px) {
  main .song iframe {
    max-width: 400px;
    max-height: 300px;
  }
}
@media (max-width: 1024px) {
  main .song iframe {
    max-width: 300px;
    max-height: 240px;
  }
}
@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 100%;
  }
  main .song{
    margin:0 15% 0 15%;
  }
  main .song iframe {
    max-width: 400px;
    max-height: 300px;
  }
}


  @media (max-width:650px) {
    header .headBtn{
      display: none;
    }
    header .hideElem{
      display: revert;
    }
    header .search{
      height: 15px;
    }
  }
  
  @media (max-width:400px) { 
    main {
      display: grid;
      grid-template-columns: 100%;
    }
    main .song{
      margin:0 15% 0 15%;
    }
    main .song iframe {
      max-width: 200px;
      max-height: 170px;
    }  
  }
  
  
